#content {
    margin-top: 168px;
    font-size: 16px;
    min-height: 100vh;
    nav {
        .breadcrumb {
            li {
                font-size: 15px;
                white-space: nowrap;
                a {
                    color: #999;
                }
            }
            .active {
                font-weight: bold;
                a {
                    color: #000;
                }
            }
        }
    }
    .table {
        th {
            white-space: nowrap;
        }
        #list-item {
            .item {
                .img {
                    height: 120px;
                    img {
                        height: 100%;
                    }
                }
                .name-product {}
                .nice-number {
                    .quantity {
                        background-color: #fff;
                        outline: none;
                        border-radius: 6px;
                        border: 1px solid #dddd;
                        margin: 0 1px;
                        width: 30px;
                        &:hover {
                            border: none;
                            border: 1px solid hotpink;
                            color: #fff;
                            background-color: hotpink;
                        }
                    }
                    button {
                        border: none;
                        background-color: #141414;
                        width: 31px;
                        color: #fff;
                        border-radius: 6px;
                        border: 1px solid #dddd;
                        &:hover {
                            border: 1px solid hotpink;
                            background-color: hotpink;
                        }
                    }
                }
            }
        }
    }
    .input-sale {
        height: 38px;
        outline: none;
    }
    button {
        font-size: 16px;
    }
    .checkout-detail {
        .form-control {
            margin-top: 10px;
            height: 34px;
            font-size: 16px;
        }
    }
    #list-icon1 {
        .icons {
            .icon {
                margin-right: 10px;
                width: 50px;
                height: 31px;
                border-radius: 2px;
                cursor: pointer;
                svg {
                    background-color: #0005;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                    fill: white;
                }
                &:hover {
                    svg {
                        fill: #000;
                    }
                }
            }
        }
    }
}

#header #header-sticky .header-mid .header-mid-cart .login::after,
#header #header-sticky .header-mid .header-mid-cart .logged::after {
    display: none;
}

@media (max-width: 991.98px) {
    #content {
        margin-top: 101px;
    }
}